@model RecipeDetailsDTO

<h2>Create Recipe</h2>

<h3>@Model.Name</h3>

<h3>Ingredients:</h3>
@if (@Model.Ingredients != null)
{
    foreach (var i in @Model.Ingredients)
    {
        if (i.Measure != null)
        {
            <div class="ingredient">
                <p>@i.Quantity (@i.Measure) of @i.Name</p>
            </div>
        }
        else
        {
            <div class="ingredient">
                <p>@i.Quantity @i.Name</p>
            </div>
        }
    }
}

<h4>New ingredient:</h4>

@using (Html.BeginForm("AddIngredient", "Recipes", new { recipeId = Model.Id }))
{
<form asp-controller="Recipes" , asp-action="AddNewCategory">
    <label for="fname">Ingredient Name:</label>
    <input type="text" name="name" value="">
    <label for="fname">Quantity:</label>
    <input type="text" name="quantity" value="">
    <label for="fname">Measure:</label>
    <input type="text" name="measure" value="">
    <input class="view-btn" type="submit" value="Add ingredient">
</form>
}

<button class="btn btn-outline-primary">
    <a class="nav-link" asp-area="" asp-controller="Recipes" asp-action="Recipe" asp-route-id="@Model.Id">Finish</a>
</button>
