@model RecipeDetailsDTO

<h2>Create Recipe</h2>
<h3>Select Category:</h3>

@using (Html.BeginForm("AddNewCategory", "Recipes"))
{
    <form asp-controller="Recipes" , asp-action="AddNewCategory">
        <label for="fname">No matching category in this list? Add your own:</label>
        <input type="text" name="name" value="">
        <input type="submit" value="Add category to list">
    </form>
}

@using (Html.BeginForm("AddRecipe", "Recipes"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name"), "Select Category", new { @id= "Category.Name", data_live_search = "true" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TimeToCook)
        @Html.TextBoxFor(m => m.TimeToCook, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TimeToCook)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Instructions)
        @Html.TextAreaFor(m => m.Instructions, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Instructions)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ImageUrl)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
}