@model RecipeBook.Business.Models.RecipeDetailsDTO
@{
    ViewData["Title"] = "Recipe";
}

<div class="recipe">
    <h1>@Model.Name</h1>
    <div class="inline">
        <img src=@Model.ImageUrl alt="image here" width="300" />
    </div>
    <div class="inline">
        <h3>@Model.Category?.Name</h3>
        <p>@Model.TimeToCook minutes to cook</p>
        <h3>Created by @Model.User?.UserName</h3>
        <button>
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="UserInfo"
                asp-route-id="@Model.User?.Id">View details about author</a>
        </button>
        <p>@Model.Likes.Count Likes</p>
        <p>@Model.Comments.Count Comments</p>
    </div>
    <div class="inline">
        @using (Html.BeginForm("AddOrDeleteLike", "Recipes", new { recipeId = Model.Id }))
        {
            <form asp-controller="Recipes" , asp-action="AddOrDeleteLike">
                <input type="submit" value="Like">
            </form>
        }
    </div>
    <div>
        <h2>Ingredients:</h2>

        @foreach (var i in @Model.Ingredients)
        {
            if (i.Measure != null)
            {
                <div class="ingredient">
                    <p>@i.Quantity (@i.Measure) of @i.Name</p>
                </div>
            }
            else
            {
                <div class="ingredient">
                    <p>@i.Quantity @i.Name</p>
                </div>
            }
        }
        <h2>Instructions:</h2>
        <p>@Model.Instructions</p>
    </div>
    <div class="comments">
        <h2>Comments:</h2>
        <div>
            <div class="comment">
                @using (Html.BeginForm("AddComment", "Recipes", new { recipeId = Model.Id }))
                {
                    <form asp-controller="Recipes" , asp-action="AddComment">
                        <label for="fname">Add comment:</label>
                        <input type="text" name="comment" value="">
                        <input type="submit" value="Submit">
                    </form>
                }
            </div>
        </div>
        
        @foreach (var comment in @Model.Comments)
        {
            <div class="comment">
                <div class="inline">
                    <h5>@comment.User?.UserName</h5>
                    <p>@comment.Text</p>
                    <time>@comment.Time</time>
                </div>
                <div class="inline">
                    @if (comment.User?.Id == ViewBag.CurrentUserId){
                        using (Html.BeginForm("DeleteComment", "Recipes", new { commentId = comment.Id, recipeId = Model.Id }))
                        {
                            <form asp-controller="Recipes" , asp-action="DeleteComment">
                                <input type="submit" value="Delete">
                            </form>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>
