@model IEnumerable<RecipeBook.Data.Models.Recipe>
@{
    ViewData["Title"] = "UserRecipes";
    IDictionary<string, string> parameters = new Dictionary<string, string>()
    { { "sortingField", "" } };
}
<div>
    <div class="inline">
        <h3>Sort by:</h3>
        <select name="sorting" asp-for="@parameters["sortingField"]">
            <option value="Likes">Likes number</option>
            <option value="Comments">Comments number</option>
            <option value="Time">Time needed</option>
        </select>
    </div>
</div>

<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="UserRecipes" asp-all-route-data="@parameters" asp-route-id="@Model.FirstOrDefault().User.Id">Use filter</a>
</button>

@foreach (var item in @Model)
{
    <div class="recipe">
        <div class="inline">
            <img src=@item.ImageUrl alt="image" width="300">
        </div>
        <div class="inline">
            <p>@item.Category.Name</p>
            <h2>@item.Name</h2>
            <p>created by @item.User.Username</p>
        </div>
        <div class="inline">
            <button>
                <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Recipe" asp-route-id="@item.Id">View details</a>
            </button>
        </div>
    </div>
}
